@import "../../styles/colors";

.home {
  height: 100vh;
  overflow-x: hidden;

  .cover {
    padding: 5rem 5rem 0 8rem;
    color: seashell;

    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      font-size: 1.2rem;
    }
  }

  .menuBtn {
    display: block;
    margin: 2rem 0 5rem 8rem;
    width: 10rem;
    background-color: $red;
    color: seashell;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $reddark;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../../public/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0%;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .home {
    text-align: center;
    align-items: center;
    justify-items: center;

    > div {
      padding-top: 10rem;
      padding-left: 0rem;
    }

    > a {
      justify-self: center;
      padding: 0;
      margin: 2rem auto;
    }
  }
}
