@import "../../styles/colors";

body {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/bg.jpg");
}

section#home {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  //position: relative;
  //background-attachment: fixed;
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-image: url("../../assets/bg.jpg");

  div {
    padding-top: 10rem;
    color: white;
    text-shadow: 9px -4px 51px rgba(0, 0, 0, 1);

    > h1 {
      font-size: 5rem;
      text-transform: uppercase;

    }

    > p {
      font-size: 1.4rem;
      font-weight: normal;
    }
  }

  > a.menuBtn {
    display: block;
    width: 10rem;
    margin: 0 auto 10rem auto;
    background-color: $orange;
    color: seashell;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, .5);

    &:hover {
      background-color: $darkorange;
    }
  }

  //&::before {
  //  content: "";
  //  width: 100%;
  //  height: 100vh;
  //  object-fit: contain;
  //  background-attachment: fixed;
  //  background-size: cover;
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  background-image: url("../../assets/bg.jpg");
  //  position: absolute;
  //  left: 0;
  //  z-index: -1;
  //}
}

@media screen and (max-width: 768px) {
  section.home {
    text-align: center;
    align-items: center;
    justify-items: center;

    > div {
      padding-top: 5rem;
      padding-left: 0rem;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }

    > a.menuBtn {
      font-size: .8rem;
      justify-self: center;
      margin: 0 auto 5rem auto;
    }
  }
}
